@{
    ViewData["Title"] = "Ana Sayfa";
}

<div class="text-center home-index">
    <h1 class="display-4">Villa Satış Admin Paneline Hoşgeldiniz</h1>
    <p>Destek olmak için <a href="https://www.linkedin.com/in/yasardogann/">Linkedin</a> Hesabımdan Geri Bildirimde Bulunabilirsiniz.</p>
</div>
