<div class="nav-header" style="background-color: #c0392b;">
    <a href="index.html" class="brand-logo">
        <!-- Logo resimlerini kaldır ve yerine yazı ekle -->
        <h1 style="color: white; font-size: 24px; font-weight: bold;">Villa'M Admin Paneli</h1>
    </a>

    <div class="nav-control">
        <div class="hamburger">
            <span class="line"></span><span class="line"></span><span class="line"></span>
        </div>
    </div>
</div>